@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .palt {
    font-feature-settings: "palt";
  }
}


:root {
  --card-base: 245 245 245;

  --tani-color: 205 105 175;
  --tani-bg-opacity: .35;
  --tani-bg-opacity--pg: .65;

  --ii-color: 70 155 90;
  --ii-bg-opacity: .3;
  --ii-bg-opacity--pg: .6;

  --hama-color: 200 155 40;
  --hama-bg-opacity: .35;
  --hama-bg-opacity--pg: .65;
  
  --tagu-color: 200 65 65;
  --tagu-bg-opacity: .3;
  --tagu-bg-opacity--pg: .6;

  --nishi-color: 140 95 240;
  --nishi-bg-opacity: .3;
  --nishi-bg-opacity--pg: .6;

  --oka-color: 33 167 231;
  --oka-bg-opacity: .3;
  --oka-bg-opacity--pg: .6;

  --default-color: 110 110 110;
  --default-bg-opacity: .3;
  --default-bg-opacity--pg: .6;
}

.dark {
  --card-base: 48 48 48;

  --tani-color: 205 105 175;
  --tani-bg-opacity: 0.25;
  --tani-bg-opacity--pg: .5;

  --ii-color: 70 155 90;
  --ii-bg-opacity: 0.2;
  --ii-bg-opacity--pg: .5;

  --hama-color: 200 155 40;
  --hama-bg-opacity: 0.25;
  --hama-bg-opacity--pg: .45;

  --tagu-color: 200 65 65;
  --tagu-bg-opacity: 0.25;
  --tagu-bg-opacity--pg: .5;

  --nishi-color: 140 95 240;
  --nishi-bg-opacity: 0.25;
  --nishi-bg-opacity--pg: .45;

  --oka-color: 33 167 231;
  --oka-bg-opacity: 0.25;
  --oka-bg-opacity--pg: .5;

  --default-color: 110 110 110;
  --default-bg-opacity: 0.25;
  --default-bg-opacity--pg: .45;
}


.rolling-border{
  display: flex;
  align-items: center;
  --angle: 0deg;
  padding: 2px;
  position: relative;
  z-index: 1;

  &::before{
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    inset: 0;
    margin: auto;
    z-index: -1;
    /* border-radius: 12px; */
    background: #2d2d2d;
  }

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -2;
    /* border-radius: 12px; */
    background: conic-gradient(from var(--angle), #525252, #cccccc, #525252);
    animation: 2s background-spin linear infinite;
  }
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes background-spin {
  to {
    --angle: 360deg;
  }
}

.static-border {
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  z-index: 1;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    z-index: -1;
    /* border-radius: 12px; */
    background: rgb(var(--card-base));
  }

  &.inprogress {
    padding: 4px;

    &::before{
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      /* border-radius: 10px; */
    }
  }
}

.cardListStyle .static-border{
  &::before{
    border-radius: 6px; 
  }
}

.editing-overlay{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  inset: 0;
  margin: auto;
  /* border-radius: 12px; */
  background: rgba(41, 41, 41, 0.8);
  color: #fff;
  font-weight: bold;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
}

.editing-overlay-text{
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  translate: 0 0;
}

.editing-cell{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  background: rgba(41, 41, 41, 0.8);
  color: #fff;
  font-weight: bold;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
}

.editing-cell-text{
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  translate: 0 0;
}

@keyframes marquee {
  from {
    left: 100%;
    translate: 0 0;
  }
  to {
    left: 0;
    translate: -100% 0;
  }
}


/* personal colors */

/* .taniBorder.inprogress {background:rgb(175, 77, 118)}
.iiBorder.inprogress {background:rgb(50, 127, 67)}
.hamaBorder.inprogress {background:rgb(161, 122, 29)}
.taguBorder.inprogress {background:rgb(165, 39, 39)}
.nishiBorder.inprogress {background:rgb(109, 66, 207)}
.defaultBrder.inprogress {background:rgb(77, 77, 77)}

.taniBg {background:conic-gradient(rgb(175, 77, 144)) no-repeat 0 50% / 5px 100%, rgba(175, 77, 144, .18)}
.iiBg {background:conic-gradient(rgb(50, 127, 67)) no-repeat 0 50% / 5px 100%, rgba(50, 127, 67, .18)}
.hamaBg {background:conic-gradient(rgb(161, 122, 29)) no-repeat 0 50% / 5px 100%, rgba(161, 122, 29, .18)}
.taguBg {background:conic-gradient(rgb(165, 39, 39)) no-repeat 0 50% / 5px 100%, rgba(165, 39, 39, .18)}
.nishiBg {background:conic-gradient(rgb(109, 66, 207)) no-repeat 0 50% / 5px 100%, rgba(109, 66, 207, .18)}
.defaultBg  {background:conic-gradient(rgb(77, 77, 77)) no-repeat 0 50% / 5px 100%, rgba(77, 77, 77, .18)}

.inprogress{
  & .taniBg {background:conic-gradient(rgb(175, 77, 144)) no-repeat 0 50% / 5px 100%, rgba(175, 77, 144, .35)}
  & .iiBg {background:conic-gradient(rgb(50, 127, 67)) no-repeat 0 50% / 5px 100%, rgba(50, 127, 67, .35)}
  & .hamaBg {background:conic-gradient(rgb(161, 122, 29)) no-repeat 0 50% / 5px 100%, rgba(161, 122, 29, .35)}
  & .taguBg {background:conic-gradient(rgb(165, 39, 39)) no-repeat 0 50% / 5px 100%, rgba(165, 39, 39, .35)}
  & .nishiBg {background:conic-gradient(rgb(109, 66, 207)) no-repeat 0 50% / 5px 100%, rgba(109, 66, 207, .35)}
  & .defaultBg  {background:conic-gradient(rgb(77, 77, 77)) no-repeat 0 50% / 5px 100%, rgba(77, 77, 77, .35)}
} */


.taniBorder.inprogress {background: rgb(var(--tani-color))}
.iiBorder.inprogress {background: rgb(var(--ii-color))}
.hamaBorder.inprogress {background: rgb(var(--hama-color))}
.taguBorder.inprogress {background: rgb(var(--tagu-color))}
.nishiBorder.inprogress {background: rgb(var(--nishi-color))}
.okaBorder.inprogress {background: rgb(var(--oka-color))}
.defaultBrder.inprogress {background: rgb(var(--default-color))}

.taniBg {
  background:conic-gradient(rgb(var(--tani-color))) no-repeat 0 50% / 5px 100%, rgb(var(--tani-color) / var(--tani-bg-opacity));
  &:hover {
    --tani-bg-opacity: 0.275;
  }
}
.iiBg {
  background:conic-gradient(rgb(var(--ii-color))) no-repeat 0 50% / 5px 100%, rgb(var(--ii-color) / var(--ii-bg-opacity));
  &:hover {
    --ii-bg-opacity: 0.25;
  }
}
.hamaBg {
  background:conic-gradient(rgb(var(--hama-color))) no-repeat 0 50% / 5px 100%, rgb(var(--hama-color) / var(--hama-bg-opacity));
  &:hover {
    --hama-bg-opacity: 0.275;
  }
}
.taguBg {
  background:conic-gradient(rgb(var(--tagu-color))) no-repeat 0 50% / 5px 100%, rgb(var(--tagu-color) / var(--tagu-bg-opacity));
  &:hover {
    --tagu-bg-opacity: 0.225;
  }
}
.nishiBg {
  background:conic-gradient(rgb(var(--nishi-color))) no-repeat 0 50% / 5px 100%, rgb(var(--nishi-color) / var(--nishi-bg-opacity));
  &:hover {
    --nishi-bg-opacity: 0.25;
  }
}
.okaBg {
  background:conic-gradient(rgb(var(--oka-color))) 0 / 5px 100% no-repeat, rgb(var(--oka-color) / var(--oka-bg-opacity));
  &:hover {
    --oka-bg-opacity: 0.25;
  }
}
.defaultBg {
  background:conic-gradient(rgb(var(--default-color))) no-repeat 0 50% / 5px 100%, rgb(var(--default-color) / var(--default-bg-opacity));
  &:hover {
    --default-bg-opacity: 0.25;
  }
}

.inprogress {
  & .taniBg {
    background:conic-gradient(rgb(var(--tani-color))) no-repeat 0 50% / 5px 100%, rgb(var(--tani-color) / var(--tani-bg-opacity--pg));
    &:hover {
      --tani-bg-opacity--pg: 0.5;
    }
  }
  & .iiBg {
    background:conic-gradient(rgb(var(--ii-color))) no-repeat 0 50% / 5px 100%, rgb(var(--ii-color) / var(--ii-bg-opacity--pg));
    &:hover {
      --ii-bg-opacity--pg: 0.5;
    }
  }
  & .hamaBg {
    background:conic-gradient(rgb(var(--hama-color))) no-repeat 0 50% / 5px 100%, rgb(var(--hama-color) / var(--hama-bg-opacity--pg));
    &:hover {
      --hama-bg-opacity--pg: 0.5;
    }
  }
  & .taguBg {
    background:conic-gradient(rgb(var(--tagu-color))) no-repeat 0 50% / 5px 100%, rgb(var(--tagu-color) / var(--tagu-bg-opacity--pg));
    &:hover {
      --tagu-bg-opacity--pg: 0.5;
    }
  }
  & .nishiBg {
    background:conic-gradient(rgb(var(--nishi-color))) no-repeat 0 50% / 5px 100%, rgb(var(--nishi-color) / var(--nishi-bg-opacity--pg));
    &:hover {
      --nishi-bg-opacity--pg: 0.5;
    }
  }
  & .okaBg {
    background:conic-gradient(rgb(var(--oka-color))) no-repeat 0 50% / 5px 100%, rgb(var(--oka-color) / var(--oka-bg-opacity--pg));
    &:hover {
      --oka-bg-opacity--pg: 0.5;
    }
  }
  & .defaultBg {
    background:conic-gradient(rgb(var(--default-color))) no-repeat 0 50% / 5px 100%, rgb(var(--default-color) / var(--default-bg-opacity--pg));
    &:hover {
      --default-bg-opacity--pg: 0.5;
    }
  }
}


.release-note-modal {
  & h2 {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-left: 1.25rem;
    position: relative;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1/1;
      border-radius: 3px;
      background: #333;
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
    }

    &::after{
      content: "";
      width: 10px;
      height: 6px;
      border: solid #fff;
      border-radius: 2px;
      border-width: 0 0 2px 2px;
      rotate: -45deg;
      position: absolute;
      top: 47%;
      left: 3px;
      translate: 0 -50%;
    }
  }

  & p{
    margin-bottom: 1rem;
    text-align: justify;
    padding: 0.25rem 0;
  }
}



.release-note {
  & h2 {
    font-weight: bold;
    font-size: 16px;
    padding: .25rem .25rem .25rem 1.25rem;
    position: relative;
    width: fit-content;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1/1;
      border-radius: 3px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
    }

    &::after{
      content: "";
      width: 10px;
      height: 6px;
      border: solid #333;
      border-radius: 2px;
      border-width: 0 0 2px 2px;
      rotate: -45deg;
      position: absolute;
      top: 47%;
      left: 3px;
      translate: 0 -50%;
    }
  }

  & p{
    color: #ccc;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    text-align: justify;
  }
}

.animate-shake {
  animation: shake .5s linear .1s forwards;
}

@keyframes shake {
  0% {
    translate: -3px 0;
  }
  10%{
    translate: 3px 0;
  }
  20% {
    translate: -3px 0;
  }
  30%{
    translate: 3px 0;
  }
  40%{
    translate: 0 0;
  }
  100%{
    translate: 0 0;
  }
}



/* Tiptap のベーススタイル */
.tiptap-base {
  max-width: none;
  cursor: text;
  white-space: normal;

  & * {
    min-height: 1.5rem;
    text-align: justify;
  }

  &  h1 {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
  }

  &  h2 {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
  }

  & h3 {
    font-size: 1.25rem; /* text-xl */
    font-weight: bold;
  }

  & a {
    color: #2563eb;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
    line-break: anywhere;
  }

  & ul {
    list-style-type: disc;
    padding-left: 1.5rem;

    &:has(li[data-checked]) {
      padding-left: 0;
    }

    & li[data-checked] {
          min-height: 1.5rem;
      list-style: none;
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
    }

    & li[data-checked] > label {
      display: flex;
      align-items: flex-start;
    }

    & li[data-checked] > div {
      flex: 1;
    }

    & li[data-checked="true"] > div {
      text-decoration: line-through;
      color: #9ca3af; /* gray-400 */
    }
  }

  & code {
    padding: .25rem .5rem;
    background: #444;
    color: #fff;
    border-radius: .5rem;
  }

  & blockquote{
    border-left: 4px solid #999;
    padding: .25rem .5rem;
    margin: .25rem auto;
  }

  & hr {
    margin: 0.5rem 0;
    min-height: 0;
    color: #999;
  }
}

/* 編集画面用 */
.tiptap-editor {
  min-height: none;
  outline: none;
  padding: 2px;
  background: transparent;

  & > div {
    min-height: 126px;
    max-height: 440px;
    height: auto;
    overflow-y: auto;
    outline: none;
    padding: 2px;

    &::-webkit-scrollbar {
      width: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
    }

    &::-webkit-scrollbar-track {
      border-radius: calc(infinity * 1px);
      background-color: var(--color-gray-300) /* oklch(44.6% 0.03 256.802) = #4a5565 */;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: calc(infinity * 1px);
      background-color: var(--color-gray-400) /* oklch(87.2% 0.01 258.338) = #d1d5dc */;
    }
  }
}

/* 閲覧画面用 */
.tiptap-viewer {
  white-space: pre-wrap;
  min-height: 126px;
  cursor: default;

  & li[data-checked] {
    pointer-events: none;
  }
}

/* メール閲覧用 */
.mail-base{
  & > a{
    color: #2563eb;
    text-underline-offset: 2px;
    cursor: pointer;
    line-break: anywhere;
    text-decoration: underline;
  }
}


@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}


/* MenuBtn Animation */

@layer components {
  .menu-btn {
    @apply relative flex flex-col gap-1.5 w-8 cursor-pointer;
  }

  .menu-btn .bar {
    @apply w-full h-0.5 rounded-full bg-neutral-500 dark:bg-neutral-100;
  }

  .menu-btn .bar1 {
    animation: menu-btn-bar01 0.5s ease-out forwards;
  }

  .menu-btn .bar2 {
    @apply opacity-100 transition-all duration-[250ms] delay-[250ms];
  }

  .menu-btn .bar3 {
    animation: menu-btn-bar03 0.5s ease-out forwards;
  }

  .menu-btn.active .bar1 {
    animation: active-menu-btn-bar01 0.5s ease-out forwards;
  }

  .menu-btn.active .bar2 {
    @apply opacity-0;
  }

  .menu-btn.active .bar3 {
    animation: active-menu-btn-bar03 0.5s ease-out forwards;
  }
}

@keyframes menu-btn-bar01 {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu-btn-bar03 {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes active-menu-btn-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}

@keyframes active-menu-btn-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}