@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


.rolling-border{
  display: flex;
  align-items: center;
  --angle: 0deg;
  padding: 2px;
  position: relative;
  z-index: 1;

  &::before{
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    inset: 0;
    border-radius: 6px;
    margin: auto;
    z-index: -1;
    /* border-radius: 12px; */
    background: #262626;
  }

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 6px;
    z-index: -2;
    /* border-radius: 12px; */
    background: conic-gradient(from var(--angle), #525252, #cccccc, #525252);
    animation: 2s background-spin linear infinite;
  }
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes background-spin {
  to {
    --angle: 360deg;
  }
}

.static-border {
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  z-index: 1;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    z-index: -1;
    /* border-radius: 12px; */
    background: #262626;
  }

  &.inprogress {
    padding: 4px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    filter: brightness(1.2);

    &::before{
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      /* border-radius: 10px; */
    }
  }
}

.cardListStyle .static-border{
  &::before{
    border-radius: 6px; 
  }
}

.editing-overlay{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  inset: 0;
  margin: auto;
  /* border-radius: 12px; */
  background: rgba(41, 41, 41, 0.8);
  color: #fff;
  font-weight: bold;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
}

.editing-overlay-text{
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  translate: 0 0;
}

.editing-cell{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  background: rgba(41, 41, 41, 0.8);
  color: #fff;
  font-weight: bold;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
}

.editing-cell-text{
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  translate: 0 0;
}

@keyframes marquee {
  from {
    left: 100%;
    translate: 0 0;
  }
  to {
    left: 0;
    translate: -100% 0;
  }
}


/* personal colors */

.taniBorder.inprogress {background:rgb(175, 77, 118)}
.taniBg {background:conic-gradient(rgb(175, 77, 144)) no-repeat 0 50% / 5px 100%, rgba(175, 77, 144, .15)}

.iiBorder.inprogress {background:rgb(50, 127, 67)}
.iiBg {background:conic-gradient(rgb(50, 127, 67)) no-repeat 0 50% / 5px 100%, rgba(50, 127, 67, .15)}

.hamaBorder.inprogress {background:rgb(161, 122, 29)}
.hamaBg {background:conic-gradient(rgb(161, 122, 29)) no-repeat 0 50% / 5px 100%, rgba(161, 122, 29, .15)}

.taguBorder.inprogress {background:rgb(165, 39, 39)}
.taguBg {background:conic-gradient(rgb(165, 39, 39)) no-repeat 0 50% / 5px 100%, rgba(165, 39, 39, .15)}

/* .kamaBorder {background:rgb(39, 125, 165)}
.kamaBg {background:rgba(39, 125, 165, .15)} */

.nishiBorder.inprogress {background:rgb(109, 66, 207)}
.nishiBg {background:conic-gradient(rgb(109, 66, 207)) no-repeat 0 50% / 5px 100%, rgba(109, 66, 207, .15)}

.defaultBrder.inprogress {background:rgb(55, 55, 55)}
.defaultBg  {background:conic-gradient(rgb(55, 55, 55)) no-repeat 0 50% / 5px 100%, rgba(55, 55, 55, .15)}


.release-note-modal {
  & h2 {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-left: 1.25rem;
    position: relative;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1/1;
      border-radius: 3px;
      background: #333;
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
    }

    &::after{
      content: "";
      width: 10px;
      height: 6px;
      border: solid #fff;
      border-radius: 2px;
      border-width: 0 0 2px 2px;
      rotate: -45deg;
      position: absolute;
      top: 47%;
      left: 3px;
      translate: 0 -50%;
    }
  }

  & p{
    margin-bottom: 1rem;
    text-align: justify;
    padding: 0.25rem 0;
  }
}



.release-note {
  & h2 {
    font-weight: bold;
    font-size: 16px;
    padding: .25rem .25rem .25rem 1.25rem;
    position: relative;
    width: fit-content;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1/1;
      border-radius: 3px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
    }

    &::after{
      content: "";
      width: 10px;
      height: 6px;
      border: solid #333;
      border-radius: 2px;
      border-width: 0 0 2px 2px;
      rotate: -45deg;
      position: absolute;
      top: 47%;
      left: 3px;
      translate: 0 -50%;
    }
  }

  & p{
    color: #ccc;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    text-align: justify;
  }
}

.animate-shake {
  animation: shake .5s linear .1s forwards;
}

@keyframes shake {
  0% {
    translate: -3px 0;
  }
  10%{
    translate: 3px 0;
  }
  20% {
    translate: -3px 0;
  }
  30%{
    translate: 3px 0;
  }
  40%{
    translate: 0 0;
  }
  100%{
    translate: 0 0;
  }
}