@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .palt {
    font-feature-settings: "palt";
  }
}


.rolling-border{
  display: flex;
  align-items: center;
  --angle: 0deg;
  padding: 2px;
  position: relative;
  z-index: 1;

  &::before{
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    inset: 0;
    margin: auto;
    z-index: -1;
    /* border-radius: 12px; */
    background: #2d2d2d;
  }

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -2;
    /* border-radius: 12px; */
    background: conic-gradient(from var(--angle), #525252, #cccccc, #525252);
    animation: 2s background-spin linear infinite;
  }
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes background-spin {
  to {
    --angle: 360deg;
  }
}

.static-border {
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  z-index: 1;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    z-index: -1;
    /* border-radius: 12px; */
    background: #303030;
  }

  &.inprogress {
    padding: 4px;

    &::before{
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      /* border-radius: 10px; */
    }
  }
}

.cardListStyle .static-border{
  &::before{
    border-radius: 6px; 
  }
}

.editing-overlay{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  inset: 0;
  margin: auto;
  /* border-radius: 12px; */
  background: rgba(41, 41, 41, 0.8);
  color: #fff;
  font-weight: bold;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
}

.editing-overlay-text{
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  translate: 0 0;
}

.editing-cell{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  background: rgba(41, 41, 41, 0.8);
  color: #fff;
  font-weight: bold;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
}

.editing-cell-text{
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  translate: 0 0;
}

@keyframes marquee {
  from {
    left: 100%;
    translate: 0 0;
  }
  to {
    left: 0;
    translate: -100% 0;
  }
}


/* personal colors */

/* .taniBorder.inprogress {background:rgb(175, 77, 118)}
.iiBorder.inprogress {background:rgb(50, 127, 67)}
.hamaBorder.inprogress {background:rgb(161, 122, 29)}
.taguBorder.inprogress {background:rgb(165, 39, 39)}
.nishiBorder.inprogress {background:rgb(109, 66, 207)}
.defaultBrder.inprogress {background:rgb(77, 77, 77)}

.taniBg {background:conic-gradient(rgb(175, 77, 144)) no-repeat 0 50% / 5px 100%, rgba(175, 77, 144, .18)}
.iiBg {background:conic-gradient(rgb(50, 127, 67)) no-repeat 0 50% / 5px 100%, rgba(50, 127, 67, .18)}
.hamaBg {background:conic-gradient(rgb(161, 122, 29)) no-repeat 0 50% / 5px 100%, rgba(161, 122, 29, .18)}
.taguBg {background:conic-gradient(rgb(165, 39, 39)) no-repeat 0 50% / 5px 100%, rgba(165, 39, 39, .18)}
.nishiBg {background:conic-gradient(rgb(109, 66, 207)) no-repeat 0 50% / 5px 100%, rgba(109, 66, 207, .18)}
.defaultBg  {background:conic-gradient(rgb(77, 77, 77)) no-repeat 0 50% / 5px 100%, rgba(77, 77, 77, .18)}

.inprogress{
  & .taniBg {background:conic-gradient(rgb(175, 77, 144)) no-repeat 0 50% / 5px 100%, rgba(175, 77, 144, .35)}
  & .iiBg {background:conic-gradient(rgb(50, 127, 67)) no-repeat 0 50% / 5px 100%, rgba(50, 127, 67, .35)}
  & .hamaBg {background:conic-gradient(rgb(161, 122, 29)) no-repeat 0 50% / 5px 100%, rgba(161, 122, 29, .35)}
  & .taguBg {background:conic-gradient(rgb(165, 39, 39)) no-repeat 0 50% / 5px 100%, rgba(165, 39, 39, .35)}
  & .nishiBg {background:conic-gradient(rgb(109, 66, 207)) no-repeat 0 50% / 5px 100%, rgba(109, 66, 207, .35)}
  & .defaultBg  {background:conic-gradient(rgb(77, 77, 77)) no-repeat 0 50% / 5px 100%, rgba(77, 77, 77, .35)}
} */


.taniBorder.inprogress {background:rgb(205,105,175)}
.iiBorder.inprogress {background:rgb(70,155,90)}
.hamaBorder.inprogress {background:rgb(200,155,40)}
.taguBorder.inprogress {background:rgb(200,65,65)}
.nishiBorder.inprogress {background:rgb(140,95,240)}
.okaBorder.inprogress {background:rgb(33, 167, 231)}
.defaultBrder.inprogress {background:rgb(110,110,110)}

.taniBg {background:conic-gradient(rgb(205,105,175)) no-repeat 0 50% / 5px 100%, rgba(205,105,175,.25)}
.iiBg {background:conic-gradient(rgb(70,155,90)) no-repeat 0 50% / 5px 100%, rgba(70,155,90,.2)}
.hamaBg {background:conic-gradient(rgb(200,155,40)) no-repeat 0 50% / 5px 100%, rgba(200,155,40,.25)}
.taguBg {background:conic-gradient(rgb(200,65,65)) no-repeat 0 50% / 5px 100%, rgba(200,65,65,.25)}
.nishiBg {background:conic-gradient(rgb(140,95,240)) no-repeat 0 50% / 5px 100%, rgba(140,95,240,.25)}
.okaBg {background:conic-gradient(rgb(33, 167, 231)) 0 / 5px 100% no-repeat, rgb(33, 167, 231,.3)}
.defaultBg {background:conic-gradient(rgb(110,110,110)) no-repeat 0 50% / 5px 100%, rgba(110,110,110,.25)}

.inprogress {
  & .taniBg {background:conic-gradient(rgb(205,105,175)) no-repeat 0 50% / 5px 100%, rgba(205,105,175,.5)}
  & .iiBg {background:conic-gradient(rgb(70,155,90)) no-repeat 0 50% / 5px 100%, rgba(70,155,90,.5)}
  & .hamaBg {background:conic-gradient(rgb(200,155,40)) no-repeat 0 50% / 5px 100%, rgba(200,155,40,.45)}
  & .taguBg {background:conic-gradient(rgb(200,65,65)) no-repeat 0 50% / 5px 100%, rgba(200,65,65,.5)}
  & .nishiBg {background:conic-gradient(rgb(140,95,240)) no-repeat 0 50% / 5px 100%, rgba(140,95,240,.45)}
  & .okaBg {background:conic-gradient(rgb(33, 167, 231)) no-repeat 0 50% / 5px 100%, rgb(33, 167, 231,.6)}
  & .defaultBg {background:conic-gradient(rgb(110,110,110)) no-repeat 0 50% / 5px 100%, rgba(110,110,110,.45)}
}


.release-note-modal {
  & h2 {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-left: 1.25rem;
    position: relative;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1/1;
      border-radius: 3px;
      background: #333;
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
    }

    &::after{
      content: "";
      width: 10px;
      height: 6px;
      border: solid #fff;
      border-radius: 2px;
      border-width: 0 0 2px 2px;
      rotate: -45deg;
      position: absolute;
      top: 47%;
      left: 3px;
      translate: 0 -50%;
    }
  }

  & p{
    margin-bottom: 1rem;
    text-align: justify;
    padding: 0.25rem 0;
  }
}



.release-note {
  & h2 {
    font-weight: bold;
    font-size: 16px;
    padding: .25rem .25rem .25rem 1.25rem;
    position: relative;
    width: fit-content;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1/1;
      border-radius: 3px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
    }

    &::after{
      content: "";
      width: 10px;
      height: 6px;
      border: solid #333;
      border-radius: 2px;
      border-width: 0 0 2px 2px;
      rotate: -45deg;
      position: absolute;
      top: 47%;
      left: 3px;
      translate: 0 -50%;
    }
  }

  & p{
    color: #ccc;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    text-align: justify;
  }
}

.animate-shake {
  animation: shake .5s linear .1s forwards;
}

@keyframes shake {
  0% {
    translate: -3px 0;
  }
  10%{
    translate: 3px 0;
  }
  20% {
    translate: -3px 0;
  }
  30%{
    translate: 3px 0;
  }
  40%{
    translate: 0 0;
  }
  100%{
    translate: 0 0;
  }
}



/* Tiptap のベーススタイル */
.tiptap-base {
  max-width: none;
  cursor: text;
  white-space: normal;

  & * {
    min-height: 1.5rem;
    text-align: justify;
  }

  &  h1 {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
  }

  &  h2 {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
  }

  & h3 {
    font-size: 1.25rem; /* text-xl */
    font-weight: bold;
  }

  & a {
    color: #2563eb;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
    line-break: anywhere;
  }

  & ul {
    list-style-type: disc;
    padding-left: 1.5rem;

    &:has(li[data-checked]) {
      padding-left: 0;
    }

    & li[data-checked] {
          min-height: 1.5rem;
      list-style: none;
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
    }

    & li[data-checked] > label {
      display: flex;
      align-items: flex-start;
    }

    & li[data-checked] > div {
      flex: 1;
    }

    & li[data-checked="true"] > div {
      text-decoration: line-through;
      color: #9ca3af; /* gray-400 */
    }
  }

  & code {
    padding: .25rem .5rem;
    background: #444;
    color: #fff;
    border-radius: .5rem;
  }

  & blockquote{
    border-left: 4px solid #999;
    padding: .25rem .5rem;
    margin: .25rem auto;
  }

  & hr {
    margin: 0.5rem 0;
    min-height: 0;
    color: #999;
  }
}

/* 編集画面用 */
.tiptap-editor {
  min-height: none;
  outline: none;
  padding: 2px;
  background: transparent;

  & > div {
    min-height: 126px;
    height: auto;
    outline: none;
    padding: 2px;
  }
}

/* 閲覧画面用 */
.tiptap-viewer {
  white-space: pre-wrap;
  min-height: 126px;
  cursor: default;

  & li[data-checked] {
    pointer-events: none;
  }
}


@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}
